.headerModal {
  text-align: center;
}

.logo {
  display: flex;
  height: 100px;
  width: 100%;
  object-fit: scale-down;
}

.ticketDate {
  text-transform: capitalize;
}

.ticketLine {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.total {
  margin: 20px 0;
  border-top: 1px solid #d6c9c9;
  font-weight: bold;
}
